.btn-light {
       --glow-color: rgb(255, 223, 93);
       /* Light gold for the glow */
       --glow-spread-color: rgba(255, 215, 0, 0.781);
       /* Spread color for the glow */
       --enhanced-glow-color: rgb(255, 239, 150);
       /* Enhanced glow */
       --btn-color: rgb(184, 134, 11);
       /* Darker gold for the button text when hovered */
       border: .25em solid var(--glow-color);
       padding: 1em 3em;
       margin-top: 1em;
       color: var(--glow-color);
       font-size: 15px;
       font-weight: bold;
       background-color: transparent;
       border-radius: 1em;
       outline: none;
       box-shadow: 0 0 1em .25em var(--glow-color),
              0 0 4em 1em var(--glow-spread-color),
              inset 0 0 .75em .25em var(--glow-color);
       text-shadow: 0 0 .5em var(--glow-color);
       position: relative;
       transition: all 0.3s;
}

.btn-light::after {
       pointer-events: none;
       content: "";
       position: absolute;
       top: 120%;
       left: 0;
       height: 100%;
       width: 100%;
       background-color: var(--glow-spread-color);
       filter: blur(2em);
       opacity: .7;
       transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.btn-light:hover {
       color: var(--btn-color);
       background-color: var(--glow-color);
       box-shadow: 0 0 1em .25em var(--glow-color),
              0 0 4em 2em var(--glow-spread-color),
              inset 0 0 .75em .25em var(--glow-color);
}

.btn-light:active {
       box-shadow: 0 0 0.6em .25em var(--glow-color),
              0 0 2.5em 2em var(--glow-spread-color),
              inset 0 0 .5em .25em var(--glow-color);
}